/*Boton Borrar*/
#borrar{
  display: ; 
}
       /*ESTILO DE LAS ENTRADAS*/


          /* Descripcion*/ 
.info{
  width: 98%;
  margin-top: 0px;
  border-radius: 30px;
  background-color: ;
}

.Portada{
  width: 26%;
  height: auto;
  border: solid 2px;
  border-color: #A53301;
  margin:auto 5%;
  position: absolute;
}

h1{
  margin: 0px auto;
  text-align: center; 
}


.info h1{
  width: 40%;
  font-size: 35px;
  color:#A53301;
}

.info p{
  width: 30%
  font-size: 30px;
  margin: 0 0 10px 35%;
  padding: 0 0 0 50px;
  color:#AAB7B8;
}

.info b{
  font-size:20px;
  color: #A53301;
}

@media only screen and (max-width: 1020px){ 
.Portada{
  width: 30%;
  height: auto;
  border: solid 2px;
  border-color: #A53301;
  margin:auto 5%;
  position: absolute;
}

h1{
  margin: 0px auto;
  text-align: center; 
}


.info h1{
  width: 40%;
  font-size: 35px;
  color:#A53301;
}

.info p{
  width: 30%
  font-size: 40px;
  margin: 0 0 0 35%;
  padding: 0 0 0 50px;
  color:#AAB7B8;
}

.info b{
  font-size:20px;
  color: #A53301;
}
}
@media only screen and (max-width: 600px){

html{
    height: 2000px;
    background: #000;
}

h1{
  margin: 0px auto;
  text-align: center; 
}

.sinopsis{
  width: 98%;
  height: 300px;
  margin-top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.info h1{
  width: 60%;
  font-size: 25px;
  color:#A53301;
}

.info b{
  font-size:15px;
  color: #A53301;
}

.Portada{
  width: 36%;
  height: auto;
  border: solid 2px;
  border-color: #A53301;
  margin:auto 3%;
  position: center;
}


}
@media only screen and (max-width: 500px){

    .info p{
     width: 30%
     font-size: 40px;
     margin: 0 0 0 5%;
     padding: 0px;
     color:#AAB7B8;
    }

    .sinopsis{
    width: 100%;
    height: 200px;
    margin-top: 274px;
    overflow-y: scroll;
    overflow-x: hidden;
    }

   .Portada{
    width: 36%;
    height: auto;
    border: solid 2px;
    border-color: #A53301;
    margin:auto 22%;
    position: center;
    } 
}

@media only screen and (max-width: 450px){

    .info p{
     width: 30%
     font-size: 40px;
     margin: 0px;
     padding: 0 0 0 15px;
     color:#AAB7B8;
    }

   .sinopsis{
    width: 100%;
    height: 200px;
    margin-top: 274px;
    overflow-y: scroll;
    overflow-x: hidden;
    }

   .Portada{
    width: 40%;
    height: auto;
    border: solid 2px;
    border-color: #A53301;
    margin:auto 22%;
    position: center;
    } 
}

@media only screen and (max-width: 350px){
    html{
    height: 2000px;
    background: #000;  
    }
    
   .info h1{
     height: 300px;
    } 

   .info p{
     width: 30%
     font-size: 40px;
     margin: 10px 0 0 0px;
     padding: 0 0 0 30px;
     color:#AAB7B8;
    }

   .sinopsis{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    }

   .Portada{
    width: 50%;
    height: auto;
    border: solid 2px;
    border-color: #A53301;
    margin:-240px 18%;
    position: center;
    } 
}
