html{
	height: 3000px;
	background: #000;

}
.banners {
	width: 97%;
    height: 300px;
    margin:10px 15px 0 15px;
    border: 2px solid #ff00ff;
    border-radius: 20px;
    display: flex; 
}



.Galeria{ 
      width: 98%;
      height: 155em;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
    }

    .Carrusel{
      width: 98%;
      height: 30em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
    }

    .Slider-Series {
      width: 98%;
      height: 20em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;  
    }

    .Buscador{
      width: 98%;
      height: 20em;
      margin-top:0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: absolute;
      z-index: 2;
    }

   .Entrada{
      width: 98%;
      height: 170em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
   }
   .Reproductor{
      width: 98%;
      height: 150em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
   }

 .Recomendadas{
      width: 97%;
      height: 20em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
    }
@media only screen and (max-width: 1200px){
    .Galeria{ 
      width: 98%;
      height: 250em;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
    }
}

@media only screen and (max-width: 800px){
    .Galeria{ 
      width: 98%;
      height: 3000px;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
    }
}

@media only screen and (max-width: 600px){

    html{
    height: 2000px;
    background: #000;

}
.banners {
	width: 97%;
    height: 150px;
    margin:10px auto;
    border: 2px solid #ff00ff;
    border-radius: 20px;
    display: flex; 
}

 .Carrusel{
      width: 98%;
      height: 18em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
    }
.Galeria{ 
      width: 98%;
      height: 3482px;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
    }

@media only screen and (max-width: 400px){
    .Galeria{ 
      width: 98%;
      height: 3600px;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
    }
}
}