html{
	height: 3000px;
	background: #000;
}

body{
    background-color: #000;
}

.Entradas-Peliculas{
    height: 2000px;
    background: #000;
}

.Entradas-Series{
    height: 2000px;
    background: #000;
}

.banners{
	width: 97%;
    height: 350px;
    margin:10px 15px 0 15px;
    border: 2px solid #ff00ff;
    border-radius: 20px;
    display: flex; 
    }

.Compartir{
      width: 22%;
      height: 40em;
      float: right;
      margin-left: 75%;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: absolute;
      display: none;
    
     }



.Galeria{ 
      width: 98%;
      height: 155em;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
      }


.Pie{
      width: 100%;
      height: 3em;
      background-color: #000;
      position: relative;
      border: solid 1px #ff00ff;
      bottom: 0;
      color: #ff00ff;
      text-align: center;
      }


.Carrusel{
      width: 98%;
      height: 30em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
      }

.Slider-Series {
      width: 98%;
      height: 20em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;  
    }
.Menu{
      width: 98%;
      height: 28em;
      margin-top:0px;
      padding-bottom: 15px;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: absolute;
      z-index: 3;
    }

.Entrada{
      width: 98%;
      height: 170em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
   }
   
.Reproductor{
      width: 98%;
      height: 150em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
   }

.Recomendadas{
      width: 97%;
      height: 20em;
      margin: 0px; 
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      z-index: 1;
      }


@media only screen and (max-width: 1200px){
    .Galeria{ 
      width: 98%;
      height: 185em;
      border:none;
      overflow-x: hidden;
      overflow-y: hidden;
      z-index: 3;
      }

    .Pie{
      width: 100%;
      height: 5em;
      background-color: #000;
      position: relative;
      border: solid 8px 0px #ff00ff;
      bottom: 0;
      color: #ff00ff;
      text-align: center;
      }
    }


@media only screen and (max-width: 900px){
    .Galeria{ 
        width: 98%;
        height: 250em;
        border:none;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 3;
        }
    }

@media only screen and (max-width: 600px){

    html{
        height: 4000px;
        background: #000;
        }
   
   .banners {
    	width: 97%;
        height: 150px;
        margin:10px auto;
        border: 2px solid #ff00ff;
        border-radius: 20px;
        display: flex; 
        }

    .Carrusel{
        width: 98%;
        height: 18em;
        margin: 0px; 
        border:none;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        z-index: 1;
        }

    .Galeria{ 
        width: 98%;
        height: 190em;
        border:none;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 3;
        }
    }

@media only screen and (max-width: 400px){
    .Galeria{ 
        width: 98%;
        height: 3600px;
        border:none;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 3;
        }
    }


@media only screen and (max-width: 320px){
    html{
       height: 2000px;
       background: #000;  
       }

    .Galeria{ 
       width: 99%;
       height: 5200px;
       border:none;
       overflow-x: hidden;
       overflow-y: hidden;
       z-index: 3;
       }
    
    .redes {
       width: 97%;
       height: 43px;
       border-style: none;
       display: flex; 
       }

    }
