 
.container{
 margin: 10px;
 border-radius: 20px;
}

#tabs-1 ,#tabs-2 ,#tabs-3 ,#tabs-4{
  width: 98%; 
  
  text-align: center;
}

.Descarga{
  width: 210px;
  height: 50px;
  margin:20px;
  border-radius: 20px;
  position: relative;
} 

.Descarga:hover{
 width: 220px;
 height: 60px;
}

iframe{
  width: 98%;
  height: 500px;
  margin-top:50px;
  border-radius:20px;
  border: solid 3px #ff00ff;
}

.nav{
  text-align: center;
  width: 98%;
  padding: 5px;
}
.nav li{        
  display:inline;
  padding: 26px 50px;
  background-color: #451250;
  border-radius: 5px;
  border: solid 3px #ff00ff ;     
}

.nav li #you{
  color:red;
  font-size: 18px;
}

.nav li a{
  color:#fff; 
  text-decoration: none; 
  border-color: solid 1px #ff00ff ;   
}

.nav li:hover{
  background-color: #ff00ff;
}

@media only screen and (max-width: 600px){

.container{
  width: 95%;
  height: 400px;
  margin: 10px;
  border-radius: 20px; 
  
}

iframe{
  width: 99%;
  height: 300px;
  margin-top:40px;
  border-radius:20px;
  border: solid 3px #ff00ff;
}
.nav li{ 
  display: inline;       
  padding: 16px 2px;
  background-color: #451250;
  border-radius: 5px;
  border: solid 1px #ff00ff ;     
}
.nav li a{
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.nav{
  text-align: center;
  width: 98%;
  padding: 10px;
}
}