/*-----INICIO DE ACORDEON-----*/ 
#container {
    margin: auto;
 	  padding: 0;
    width: 100%; /*---ancho de tabla---*/ 
     
}
#accordion input {
	display: none;
}
#accordion label {
	background: #451250;
	color: #fff;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	font-size: 17px;
	font-family: 'Arial', sans-serif;
	margin-bottom: .125em;
	padding: .9em 45%; /*---Altura da Tabela---*/ 
	z-index: 20;
}


#accordion label:hover {
	background: #ff00ff;
}


#accordion input:checked + label {
	background: #451250;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
#accordion article {
	background: #000;
	height:0px;
	overflow:hidden;
	z-index:10;
}
#accordion article p {
  margin: auto;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
  text-align: auto;/*---Posición del texto dentro de los Botones---*/ 
}
/*-----FIN DE ACORDEON-----*/ 

/*-----INICIO DE CAPITULOS DE LA TABLA-----*/ 
.table-responsive {
	overflow-x: auto;
}
.table {
  margin: auto;
  text-align: center;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.table a {
  text-decoration: none;
  list-style: none; 
}
.table td,
.table th {
	background-color: #fff;
	border: 2px solid #ccc;
	color: #000;
	font-family: sans-serif;
	font-size: 100%;
	padding: 5px;
	vertical-align: top;
}
.table tr:nth-child(even) td {
	background-color: #F0F0E5
}
.table th {
	background-color: #E5E5E5;
	color: #fff;
	font-size: 110%;
}
.table tr.even:hover td,
.table tr:hover td {
	color: #fff;
	background-color: #fff000;
}
.tg-bf {
	font-weight: 700;
}
.tg-it {
	font-style: italic;
}
.tg-left {
	text-align: left;
}
.tg-right {
	text-align: right;
}
.tg-center {
	text-align: center;
}
tr td.bold {
  font-weight: 700;
}
@media screen and (max-width:767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar
	}
	.table-responsive>.table {
		margin-bottom: 0
	}
	.table-responsive>.table>tbody>tr>td,
	.table-responsive>.table>tbody>tr>th,
	.table-responsive>.table>tfoot>tr>td,
	.table-responsive>.table>tfoot>tr>th,
	.table-responsive>.table>thead>tr>td,
	.table-responsive>.table>thead>tr>th {
		white-space: nowrap
	}

	#accordion label {
	padding: .9em 39%; /*---Altura da Tabela---*/ 

}
}
/*-----INICIO DE CAPITULOS DE LA TABLA-----*/