.{
	margin: 0px;
	padding: 0px;
}

html{
	background: #000;
}

.menu{
	padding-inline-start:0px;
	list-style:none;
	width:100%;
	height: auto;
	border-left-width: 10px;
	font-size:18px;
	border: 1px solid rgba(0,0,0,0.8);} 

.menu li{
	list-style: none;
}

.menu li a{
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	border-top: 1px solid rgba(255,255,255, 0.1);
	background:#451250;
	text-decoration:none;
	color:#FFF;
	text-shadow: 2px 0px 1px rgba(0,0,0,0.2);
	filter: dropshadow(color=#fff, offx=1, offy=0);
	padding:10px;
	padding-left:20px;
}

.menu li ul li a{
	font-size:14px;
	color:#000;
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
	
}

.menu li a:hover{
	background:rgba(fff,fff,fff,0.5);
	-moz-transition: background 0.1s ease-in;
	-webkit-transition: background 0.1s ease-in;
	-o-transition: background 0.1s ease-in;
}

.menu ul{
	margin:0;
	padding:0;
	list-style:none;
	height:0;
	overflow: hidden;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.menu li:hover ul{
	height:220px; /*alto de submenu*/
	overflow-y:auto;
	overflow-x:hidden;
}

.menu ul li a{
	background:#000;
	color: #fcfcfc;
}

.menu ul li a:hover {
    opacity: 0.5;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}

#videobox {
display: flex;  
width:99%;
margin: 30px auto;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;>
border-radius: 10px;
background:#000;  /* Fondo VideoBox */
border:1px solid #5A5A5A;
padding:10px; -moz-box-shadow: 0px 0px 30px #E3E3E3;
-webkit-box-shadow: 0px 0px 30px #E3E3E3;
box-shadow: 0px 0px 30px #E3E3E3;
}

.mini a img{
 width: 200px;
 padding-left:40px;
}

.vidprincipal{
	width: 1000px; 
	height: 500px;
}
.selector{
	float:bottom;
	overflow:auto;
	height:500px;
    margin-left:30px
}
 p{
  margin-top: 0px;
  font-size: 15px;
  color: #fff;
 }

@media only screen and (max-width: 1000px){
.mini a img{
 width: 100px;
}
.vidpr1ncipal{
	width: 1000px; 
	height: 400px;
}
.selector{
	overflow:auto;
	width: auto;
	height:500px;
}

.mini a img{
 width: 200px;
}
 p{
  margin-top: 0px;
  font-size: 18px;
  color: #fff;
 }

@media only screen and (max-width: 750px){
 .vidprincipal{
	width: 1000px; 
	height: 400px;
}
.selector{
	overflow:auto;
	width: auto;
	height:400px;
}
.mini a img{
 width: 150px;
}

 p{
  margin-top: 0px;
  padding: 0px;
  font-size: 15px;
  color: #fff;
 }

}

 @media only screen and (max-width: 650px){
 #videobox {
    height: 400px;
 }
.vidprincipal{
	width: 800px; 
	height: 400px;
}

.selector{
	position: absolute;
	overflow:auto;
	width: auto;
	height:auto;
    margin:420px 30px 0px 0px;
}

 }
 @media only screen and (max-width: 500px){
 #videobox {
 height: 400px;
 }
.vidprincipal{
	width: 800px; 
	height: 400px;
}


 }
 @media only screen and (max-width: 370px){
#videobox {
display: flex;  
width:93%;
height: 300px;
margin: 0px auto;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;>
border-radius: 10px;
background:#000;  /* Fondo VideoBox */
border:1px solid #5A5A5A;
padding:10px; -moz-box-shadow: 0px 0px 30px #E3E3E3;
-webkit-box-shadow: 0px 0px 30px #E3E3E3;
box-shadow: 0px 0px 30px #E3E3E3;
}

.vidprincipal{
	width: 99%; 
	height: 300px;
}
.selector{
	overflow:auto;
	height:500px;
    margin:330px 30px 0 0;
}
}
 }