* {
  font-family:'Segoe UI Light','helvetica','arial';
  font-size:100%;
  font-weigth:normal;
  padding:0;
  margin:0;
}
a.open {
  background:#f00;
  border-radius:2px;
  color:#fff;
  font-size:30px;
  margin:30px;
  padding:10px 20px;
  position:absolute;
  text-decoration:none;
  transition:all ease 0.3s;
}
a.open:hover {
  background:#111;
  transition:all ease-in 0.3s;
}
.modalDialog {
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  background: #000;
  width: 100%;
  height: ;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  pointer-evets: none;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: -2;
}

 .modalDialog:target {
  opacity: 1;
  pointer-events: all;
  z-index:5;
 }

 .close:hover {
   background: #000;
 }

 .close {
  background: #f00;
  border-radius: 3px;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  right: 50px;
  text-align: center;
  text-decoration: none;
  top: 10px;
  width: 30;
  z-index: 1;
 }

 .modalDialog > section {
  background: #111;
  box-shadow: 0px 0px 10px #000;
  border-radius: 3px;
  color: #fff;
  margin: 0% auto;
  padding: 20px;
  position: relative;
  width: 100%;
 }

 .modalDialog > section h2 {
   color: #fff;
   font-size: 40px;
   margin-bottom: 10px;
 }

 .modalDialog > div p {
  color: #aaa;
  font-size: 18px;
  text-shadow: 0px 1px 0px #d9d9d9;
 }



 /*Sidebar Flotante
.............................................................*/


.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}



/*-- Esto es para que se adapte en una pantalla de un movil --*/
@media screen and (max-width:480px) {
  .modalDialog > section {
    padding:3%;
    height:auto;
    width:94%;
  }
}

